<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrick.guesscountry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 芒果广告权限 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- adchina -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" >
    </uses-permission>

    <!-- 芒果广告结束 -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:name="com.patrick.generaltool.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.patrick.guesscountry.ui.StartUpActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.patrick.guesscountry.ui.MainGameActivity"
            android:screenOrientation="landscape" >
        </activity>
        
         <activity
            android:name="com.patrick.guesscountry.ui.SettingActivity"
            android:screenOrientation="landscape" >
        </activity>

        <!-- 芒果广告平台Activity -->
        <activity android:name="com.adsmogo.adsmogobanner.XmlTypeAD" >
        </activity>
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <!-- 注册Service，应用下载所需 -->
        <service
            android:name="com.adsmogo.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />
        <!-- 注册Service，应用被安装所用 -->
        <service
            android:name="com.adsmogo.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />

        <!-- 添加百度应用详情Activity -->
        <!-- 注册AppActivity -->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation" />

        <!-- 声明多盟的Activity -->
        <activity
            android:name="cn.domob.android.ads.DomobActivity"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 声明AdChina易传媒的Activity -->
        <activity
            android:name="com.adchina.android.ads.views.AdBrowserView"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- 声明艾德思奇的Activity和Service -->
        <!-- 注册com.mobisage.android.MobiSageActivity -->
        <activity
            android:name="com.mobisage.android.MobiSageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>

        <!-- inmobi -->
        <!-- Mandatory activity declaration to show the Ad in the embedded browser -->
        <activity
            android:name="com.inmobi.androidsdk.IMBrowserActivity"
            android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize" />

        <!-- GoogleServiceAdMob -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="4452000" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>